{% extends 'feedback/base.html' %} {% block content %}
<div class="mroot">
  <button class="closebutton" onclick="location.href='{% url 'code' %}'">X</button>
  <div class="qrbox" id="qrboxid">
    <img src="{{base_url}}media/qrcodes/thumbnails/{{ brand_qr_code_picture}}" alt='qr_' class='qr' style="height: 200px; width: 200px;">
  </div>
  <br>
  <p class="qruri">
    {{base_url}}media/qrcodes/thumbnails/{{ brand_qr_code_picture}}
  </p>
<form action='/email-qr-code/' method="POST">
  {% csrf_token %}
  <label class="clabel"
    ><input type="checkbox" name="checkbox" value="checked"  required/><a href={% url 'policy' %}><b
      onclick="location.href='policy/" class="text-secondary"
      >Privacy Policy</b
    ></a></label
  >
  <hr class="hrredline" />
  <input  type="text" name="brand_qr_code_url" id="loc" value="{{brand_qr_code_url}}" hidden>
  <input  type="text" name="brand_qr_code_picture" id="loc" value="{{brand_qr_code_picture}}" hidden readonly>

  <input
    type="text"
    name="brand_user_name"
    id="brand_user_name"
    placeholder="Your name"
    onchange="brand_user_name = this.value"
    required
  />
  <input
    type="email"
    name="user_email"
    id="user_email"
    placeholder="Your email"
    onchange="user_email = this.value"
    required
  />

  <div class='pt-3'>
    <button
      class="btn btn-success"
      type="submit"
      ><b>Send embedding code &amp; QR code to your email</b></button
    >
  </div>
</form>
</div>
{% endblock %}
