{% extends 'feedback/base.html' %} {% block content %}
<div class="mroot">
  <br />
  <div class="text-center bg-success">
    <h5 style="margin: 20px" class="text-white">
      Embed Code to your website to get Feedback
    </h5>
  </div>
  <br />
  <div class="header">Question</div>
  <div class="pre" style="padding: 5px; font-size: 20px; width: 90%">
    Do you want to rate &lt;<b>activity</b>&gt;experience from &lt;
    <b>Brand</b>&gt; ?
  </div>

  <div class="bcontainer" style="width: 100%">
    <center>
      <button class="sbutton">👎</button>
      <button class="sbutton">😒</button>
      <button class="sbutton"></button>
      <button class="sbutton"></button>
      <button class="sbutton"></button>
      <button class="sbutton">😐</button>
      <button class="sbutton"></button>
      <button class="sbutton"></button>
      <button class="sbutton"></button>
      <button class="sbutton">😊</button>
      <button class="sbutton">👍</button>
    </center>
  </div>

  <br />

  <hr style="color: red; background-color: red; height: 2; width: 100%" />
  <br />
  <div class="chartheader">Report</div>
  <br />
  <div>
    <img src="/static/img/charti.png" alt="chart" width="100%" height="100%" />
  </div>
  <br />
  <div class="butcont">
    <button class="bta btn" onclick="location.href = 'preview/';">
      Preview
    </button>
    <button class="btb btn bg-success" onclick="location.href = 'code/';">
      Create Embedding code
    </button>
  </div>
</div>
{% endblock %}
