{% extends 'feedback/base.html' %} {% block 'content' %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Feedback</h1>
      <p>Dear {{ brand_user_name }},</p>
      <p>
        Give your user ability to review your brand and manage the
        feedback.,Embed the QR Code in your website or app.
      </p>
      <br />
      <strong
        >QR Code Link
        <a
          href="http://127.0.0.1:8000/media/qrcodes/{{ brand_qr_code_picture }}"
          >http://127.0.0.1:8000/media/qrcodes/{{ brand_qr_code_picture }}</a
        ></strong
      >
      <p>Thanks,</p>
      <p>Voice of Customer-Feedback</p>
    </div>
  </div>
  {% endblock %}
</div>
