{% extends 'feedback/base.html' %} {% block content %}

<div class="mroot">
  <button class="closebutton" onclick="location.href='{% url 'home' %}'">
    X
  </button>
  <div class="mailed centertext" id="mailed">
    Embedding code & QR code Link mailed to
    <span class="text-success">{{ email }}</span>
  </div>

  <div class="blacktext centertext">&#62; Display the QRcode for scanning</div>
  <div class="blacktext centertext">&#62; Embed the code to your website</div>

  <hr class="hrredline" />

  <div class="greenquestion">
    Do you want to recommend this to your friends and colleagues ?
  </div>

  <div class="threebuttonsdiv">
    <button class="thbut btn btn-danger">No</button>
    <button class="thbut btn btn-primary">Later</button>
    <button class="thbut btn btn-success">Yes</button>
  </div>

  <input
    type="text"
    name="friendname"
    id="friendname"
    placeholder="Your friend's name"
    onchange="friendname = this.value"
  />
  <input
    type="email"
    name="friendemail"
    id="friendemail"
    placeholder="Your friend's email"
    onchange="friendemail = this.value"
  />

  <br />
  <button class="lowerbutton btn btn-success">Send</button>
</div>
{% endblock %}
