{% extends 'feedback/base.html' %} {% block content %}

<div class="mroot">
  <button class="closebutton" onclick="location.href='{% url 'code' %}'">
    X
  </button>
  <div class="qrbox" id="qrboxid">
    <img
      src="{{base_url}}media/qrcodes/thumbnails/{{ brand_qr_code_picture}}"
      alt="qr_code"
      class="qr"
      style="height: 200px; width: 200px"
    />
  </div>
  <br />
  <p class="qruri">
    {{base_url}}media/qrcodes/{{ brand_qr_code_picture}}
  </p>

  <div class="orangetext">&#62; Display the QRcode for scanning</div>
  <div class="orangetext">&#62; Embed the code to your website</div>

  <form action="/show-qr-code/" method="POST">
    {% csrf_token %}
    <label class="clabel"
      ><input type="checkbox" name="checkbox" value="value" required /><u
        onclick="location.href='policy/'"
        >Privacy Policy</u
      ></label
    >

    <input
      type="text"
      name="brand_qr_code_url"
      id="loc"
      value="{{brand_qr_code_url}}"
      hidden
    />
    <input
      type="text"
      name="base_url"
      id="loc"
      value="{{base_url}}"
      hidden
    />
    <input
      type="text"
      name="brand_qr_code_picture"
      id="loc"
      value="{{brand_qr_code_picture}}"
      hidden
      readonly
    />

    <button type="submit" class="btn btn-success">
      <b>Click here to send embedding code &amp; QR code your email</b>
    </button>
  </form>
</div>

{% endblock %}
